.image{
  height:881px; background-size:cover; width:auto;
  background-image:url('./../../../assets/images/background.jpg');
  background-position:50% 50%;
}

.custom-margin-left{
  margin-left: 80px;
}