<div class="container-fluid image">
  <div class="row">
    <ng-container *ngIf="favoritesDailyWeather.length>0; else showNoFavorites">
      <app-weather-favorite-info-card @fade class="col-lg-2 col-md-6 col-sm-10 card custom-margin-left mr-5 mt-5"
        *ngFor="let weatherItem of favoritesDailyWeather; index as i"
        [favoritesDailyWeather]="favoritesDailyWeather[i]">
      </app-weather-favorite-info-card>
    </ng-container>
    <ng-template #showNoFavorites>
      <div @fade class="card mx-auto mt-5">
        <div class="card-body">
          <h4 class="card-text">You don't have any favorites cities, please add some.</h4>
        </div>
      </div>
    </ng-template>
  </div>
</div>