<div class="ng-autocomplete mx-auto mb-3">
  <ng-autocomplete [data]="autocompleteData" [searchKeyword]="keyword" (selected)='onSelectEvent($event)'
    (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
    [placeHolder]="placeholder" (keypress)="allowEnglishLettersOnKeyUp($event)"
    (inputCleared)="onAutocompleteCleared()">
  </ng-autocomplete>
  <h4 class="text-danger text-center" *ngIf="!isSearchValid">English letters are only allowed for searching</h4>
  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>
  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>